body {
  font-family: "Rounded Mplus 1c";
  padding-top: 50px;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*------------------- ヘッダー -------------------*/
/* ヘッダータイトル */
.navbar-default {
  border: none;
}

.container-fluid>.header-margin {
  margin-left: 30%;
}

.navbar-default .header-title {
  color: #122b4e;
}

.navbar-default .header-title:hover, .navbar-default .header-title:focus {
  color: #122b4e;
}

/* ヘッダーメニュー */
.menu-button {
  background-color: #122b4e;
  color: white;
  margin: 5px 15px 5px 0px;;
}

.navbar-default .menu-button:hover, .navbar-default .menu-button:focus {
  background-color: #122b4e;
}

.navbar-default .navbar-nav>li>.header-menu {
  color: white;
  background-color: #122b4e;
  padding: 15px 41px;
}

.navbar-default .navbar-nav>li>.header-menu:hover, .navbar-default .navbar-nav>li>.header-menu:focus {
  color: white;
  background-color: #122b4e;
}

.navbar-default .navbar-nav>li>.menu-item {
  background-color: #122b4e;
  border: none;
  border-top: 1px solid white;
}

.navbar-nav>li>.menu-item>.tourist-spot>a {
  color: white;
}

.navbar-nav>li>.menu-item>.tourist-spot>a:hover, .navbar-nav>li>.menu-item>.tourist-spot>a:focus {
  color: #122b4e;
  background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>.tourist-spot>a {
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>.tourist-spot>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.tourist-spot>a:focus {
  color: #122b4e;
  background-color: white;
}

/*------------------- メイン -------------------*/

/* 背景半分赤色 */
.half-red {
  position: relative;
  height: 100vh;
}

.half-red::before {
  width: 50%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background: #e60012;
}

/* タイトル文字 */
.main-title {
  position: absolute;
  color: white;
  margin-left: 30%;
  margin-top: 15%;
}

.main-title h3 {
  margin: 0;
  font-size: 34px;
}

.main-title h1 {
  margin: 0;
  font-size: 110px;
}

.comment {
  width: 270px;
  margin-top: 10%;
  margin-left: auto;
}

.comment p {
  margin: 10px 0 0 0;
}

.scroll-button {
  width: 75px;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}

.scroll-button:hover, .scroll-button:focus {
  cursor: pointer;
}

.scroll-button p {
  margin: 0;
}

.scroll-button span {
  font-size: 50px;
  margin-left: 8px;
}

/*------------------- フッター -------------------*/
.footer {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-link {
  text-decoration: none;
  color: white;
}

.top-link:hover, .top-link:focus {
  text-decoration: none;
  color: white;
}
